<% form_for(@abstract,:url => abstract_diagnosis_path(@abstract)) do |f| %>

<p>Sources of responses on this page -- reviewing Oncologist's report</p>
<%= f.wrapped_text_field(:diagnosis_is_all) %>
<%= f.wrapped_text_field(:diagnosis_all_type) %>
<%= f.wrapped_text_field(:diagnosis_is_cml) %>
<%= f.wrapped_text_field(:diagnosis_is_cll) %>
<%= f.wrapped_text_field(:diagnosis_is_other) %>
<%= f.wrapped_text_field(:diagnosis_is_aml) %>
<%= f.wrapped_text_field(:diagnosis_aml_type) %>
<%= f.wrapped_text_field(:diagnosis_is_b_all) %>
<%= f.wrapped_text_field(:diagnosis_is_t_all) %>

<p>ICDO Code(s)...</p>
<p>No matching fields?</p>

<p>Legacy ICDO Data (only on records prior to 8/1/2009)* (data below is read-only)</p>
<%= f.wrapped_text_field(:diagnosis_icdo_number) %>
<%= f.wrapped_text_field(:diagnosis_icdo_description) %>

<p>* The following fields are set to 'read only' to permit viewing of ICDO data in records added before the ICDO Code(s)... section above was added.</p>

<p>
<%= button_link_to "Cancel", :action => 'show' %>&nbsp;
<%= f.submit 'Save Changes',:name => nil %>
</p>
<% end %>
