<%= edit_link() %>

<p>Sources of responses on this page -- reviewing Oncologist's report</p>
<%= wrapped_spans(:abstract,:diagnosis_is_all) %>
<%= wrapped_spans(:abstract,:diagnosis_all_type) %>
<%= wrapped_spans(:abstract,:diagnosis_is_cml) %>
<%= wrapped_spans(:abstract,:diagnosis_is_cll) %>
<%= wrapped_spans(:abstract,:diagnosis_is_other) %>
<%= wrapped_spans(:abstract,:diagnosis_is_aml) %>
<%= wrapped_spans(:abstract,:diagnosis_aml_type) %>
<%= wrapped_spans(:abstract,:diagnosis_is_b_all) %>
<%= wrapped_spans(:abstract,:diagnosis_is_t_all) %>

<p>ICDO Code(s)...</p>
<p>No matching fields?</p>

<p>Legacy ICDO Data (only on records prior to 8/1/2009)* (data below is read-only)</p>
<%= wrapped_spans(:abstract,:diagnosis_icdo_number) %>
<%= wrapped_spans(:abstract,:diagnosis_icdo_description) %>

<p>* The following fields are set to 'read only' to permit viewing of ICDO data in records added before the ICDO Code(s)... section above was added.</p>

<%= abstract_pages(@abstract) %>
