<%= edit_link() %>

<%= wrapped_spans(:abstract,:response_fab_subtype) %>

<p>Notes: Test dates may not correspond exactly to days 7, 14, &amp; 28.  Please note the dates of each biopsy.  Check the calculated field to see exact number days betwen diagnosis and test.</p>

<h4>Day 7: Bone Marrow Biopsy/Aspirate</h4>
<p>Unbound days*</p>
<%= wrapped_spans(:abstract,:response_report_found_day_7) %>
<%= wrapped_spans(:abstract,:response_report_on_day_7) %>
<%= wrapped_spans(:abstract,:response_is_inconclusive_day_7) %>
<%= wrapped_spans(:abstract,:response_blasts_day_7) %>
<%= wrapped_spans(:abstract,:response_classification_day_7) %>
<%= wrapped_spans(:abstract,:response_blasts_units_day_7) %>

<h4>Day 14: Bone Marrow Biopsy/Aspirate</h4>
<p>Unbound days*</p>
<%= wrapped_spans(:abstract,:response_report_found_day_14) %>
<%= wrapped_spans(:abstract,:response_report_on_day_14) %>
<%= wrapped_spans(:abstract,:response_is_inconclusive_day_14) %>
<%= wrapped_spans(:abstract,:response_blasts_day_14) %>
<%= wrapped_spans(:abstract,:response_classification_day_14) %>
<%= wrapped_spans(:abstract,:response_blasts_units_day_14) %>

<h4>Day 28: Bone Marrow Biopsy/Aspirate</h4>
<p>Unbound days*</p>
<%= wrapped_spans(:abstract,:response_report_found_day_28) %>
<%= wrapped_spans(:abstract,:response_report_on_day_28) %>
<%= wrapped_spans(:abstract,:response_is_inconclusive_day_28) %>
<%= wrapped_spans(:abstract,:response_blasts_day_28) %>
<%= wrapped_spans(:abstract,:response_classification_day_28) %>
<%= wrapped_spans(:abstract,:response_blasts_units_day_28) %>

<%= wrapped_spans(:abstract,:response_day30_is_in_remission) %>

<p>* If no diagnosis date is entered, count will remain 0</p>

<%= abstract_pages(@abstract) %>
