<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="<%=image_path('cal.ico')%>" />
<title><%= @page_title || "Abstracts" -%></title>
<%= javascript_include_tag 'jquery','jquery-ui','jrails','simply_helpful','application' %>
<%= stylesheet_link_tag 'base/jquery.ui.all.css','simply_helpful','application','authorized','scaffold' %>
<%= yield :head %>
</head>
<body>
<div id='container'>
<div id='menu'>
<%= link_to "Abstracts", root_path, :id => 'home_link' %>
<% application_root_menu() do -%>
<li><%= link_to "Browse", abstracts_path %></li>
<li><%= link_to "Pages", pages_path %></li>
<li><%= link_to "Users", users_path %></li>
<% end %>
</div>
<div id='content'>
<%= flasher() %>
<%= yield %>
</div><!-- content -->
<div id='footer'>
<p>
<small>2010 California Childhood Leukemia Study, UC Berkeley School of Public Health</small>
</p>
</div><!-- footer -->
</div><!-- container -->
</body>
</html>
